.flag-image, .map-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;

}

body {
  background: #f0f0f0 ;
  font-family: 'Trebuchet MS', sans-serif;
  padding-bottom: 60px;
}

.time-element {
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

.flag-image {
  margin: 25px;
  position: relative;
  left: 120px;
}

.map-image {
  margin: 15px;
  position: relative;
  top: -325px;
  left: -120px;
}

.option-text {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
}

.option {
  margin-left: 20px;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}

h1 {
  background: radial-gradient(circle, rgba(223,223,223,1) 0%, rgba(255,255,255,1) 100%);
  padding: 15px;
  background-color: seashell;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
